@font-face {
  font-family: 'zorque';
  src: url(../assets/zorque.ttf) format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  background: black;
}

h1 {
  font-family: 'zorque', sans-serif;
  font-size: 80px;
  letter-spacing: 20px; 
  color: rgb(217, 0, 255);
  text-shadow: 1px 1px 40px rgb(0, 153, 255);
  text-align: center;
  margin: 0;
}

h2 {
  font-family: 'zorque', sans-serif;
  font-size: 20px;
  letter-spacing: 10px; 
  color: rgb(0, 153, 255);
  text-align: center;
  margin: 0;
}

img {
  position: absolute;
  transition: transform 0.2s linear;
  transform: translateY(0px);
  will-change: transform;
}

.gameover {
  display: none;
}

.win {
  display: none;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  max-height: 600px;
  max-width: 600px;
  display: none;
}

.mainUI {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  max-height: 600px;
  max-width: 600px;
  padding-right: 50px;
}

.grid div {
  /* border: 1px solid; */
  flex-grow: 1;
  height: 5%;
  width: 5%;
  position: relative;
}

/* .grid div.player {
  background-image: url(../assets/cropped-pacman.gif);
  background-size: cover;
} */

.grid div.energizer {
  background-image: url(../assets/pill.png);
  background-position: center;
  background-size: 80px;
}

.grid div.pill {
  background-image: url(../assets/pill.png);
  background-size: cover;
}

.grid div.wall {
  background: rgb(217, 0, 255);
  box-shadow: 0 0 20px 0 rgb(0, 153, 255);
}

.grid div.blinky {
  background-image: url(../assets/blinky.gif);
  background-size: contain;
  background-repeat: no-repeat;
}

.grid div.pinky {
  background-image: url(../assets/pinky.gif);
  background-size: contain;
  background-repeat: no-repeat;
}

.grid div.inky {
  background-image: url(../assets/inky.gif);
  background-size: contain;
  background-repeat: no-repeat;
}

.grid div.clyde {
  background-image: url(../assets/clyde.gif);
  background-size: contain;
  background-repeat: no-repeat;
}

.grid div.frightened {
  background-image: url(../assets/frightened.gif);
  background-size: contain;
  background-repeat: no-repeat;
}